body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

#kep1 {
    /* Styles for the image with id="myImage" */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
