body {
    background-color: #2F3033;
  }
  
  .rounded-list {
    border-radius: 10px; /* Adjust the value for desired roundness */
    padding: 15px; /* Adjust padding as needed */
    list-style: none; /* Remove default bullet points */
    background-color: #00623a;
    width: 225px;
    height: 195px;
    float: left; /* Use float to make elements appear next to each other */
    margin-right: 20px; /* Adjust the margin as needed */
    white-space: nowrap; /* Ensures that the text does not wrap to the next line */
  }
  
  .rounded-image {
    border-radius: 7%; /* 50% will make the image circular, adjust as needed */
    overflow: hidden; /* Ensures the rounded corners are visible */
  }
  
  .p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: medium;
    text-align: center;
  }
  
  .clear {
    clear: both; /* Clear the float to prevent layout issues */
  }
  
  .military-image {
    width: 200px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    display: block; /* Makes the image behave like a block element */
    margin: 0 auto; /* Centers the image horizontally */
  }

  .logo,
  .logo2 {
    width: 22px;
    height: 13px;
    display: inline-block; /* Change display property to inline-block */
    margin: 5px; /* Adjust margin as needed */
  }
